ListView {
  opacity: 0.5;
}
Label{
  color: black;
}
.visible {
  animation-name: show;
  animation-duration: 1s;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}
.add-bar {
  background-color: #CB1D00;
  padding: 5 10;
}
.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}
TextField {
  color: black;
}
.delete-container {
  background-color: #CB1D00;
  padding: 5;
  height: 20;
  margin-right: 8;
}
.third {
    background-color: #0099CC;
    color: whitesmoke;
    text-align: left;
    vertical-align: center;
}
.header {
    background-color: #8C489F;
    color: whitesmoke;
    border-radius: 3;
}

.footer {
    background-color: #8C489F;
    color: whitesmoke;
    border-radius: 3;
}

.item {
    text-align: left;
    vertical-align: center;
}
.imagen-row {
    max-height: 100;
   
}